:root{
  --bs-primary:#2e7d32;
  --bs-primary-rgb:46,125,50;
}
.bg-primary{background-color:var(--bs-primary)!important}
.btn-primary{background-color:var(--bs-primary);border-color:var(--bs-primary)}
.btn-primary:hover{background-color:#256528;border-color:#256528}
.btn-outline-primary{color:var(--bs-primary);border-color:var(--bs-primary)}
.btn-outline-primary:hover{background-color:var(--bs-primary);color:#fff}
.text-primary{color:var(--bs-primary)!important}
html{scroll-behavior:smooth}
